.b1{
    height: 460px;
    background-color: black;
    border-radius: 20px;
}
.b3{
    height: 150px;
    background-color: black;
    border-radius: 20px;
}
.b4{
    height: 150px;
    width: 95%;
    background-color: black;
    border-radius: 20px;
}
.txt{
    border-radius: 10px;
    background-color: rgb(18, 19, 19);
    border: 1px solid rgb(17, 17, 17);
    width: 80%;
    height: 40px;
}
.git-image{
    height: 50px;
    width: 50px;
}
.nav-text{
    font-weight: bolder;
    font-size: x-large;
}
.page{
    background-color: rgb(236, 234, 234);
}